<nav class="navbar navbar-expand navbar-dark px-2" style="background-color: #9D4EDD;">
  <div class="side-nav-button p-2 me-3 text-light" (click)="sideNavToggle()">
      <i class="fa-solid fa-bars"></i>
  </div>
  <a class="navbar-brand" href="#">YoGestion</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      
      <div class="form-center">
        <form class="d-flex align-items-center" role="search">
          <div class="input-group">
            <input class="form-control px-5" type="search" placeholder="Rechercher" aria-label="Search">
            <button class="btn btn-seconadry bg-secondary text-light" type="submit">
              <i class="fa-solid fa-search"></i>
            </button>
          </div>
        </form>
        
      </div>
      
      <button class="text-light alert-icon" style="font-size:25px;">
        <i class="fa-regular fa-bell" (click)="logoutUser()"> </i>
      </button>
    
  </div>
</nav>
