
<div class="container" style="position: relative; width: 100%; margin-top: 10%; margin-left: 10%; ">
    <div  class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn text-light" style="background-color: #9d4edd;margin-right: 54%;" type="button">
            <i class="fa-solid fa-list" ></i> Impression
        </button>

        <button class="btn text-light mx-4" style="background-color: #9d4edd" type="button">
            <i class="fa-solid fa-filter"></i> Filter
        </button>

        <button class="btn me-md-2 text-light" type="button" style="background-color: #9d4edd"
            data-bs-target="#exampleModal" data-bs-toggle="modal" (click)="addmodel()">
            <i class="fa-solid fa-plus" ></i> Effectuer une sortie
        </button>
    </div>
    <hr style="color: #9d4edd;margin-left: 10%;" />
    <div class="text-center" style="font-size: 25px;">Date:{{currentDate | date:'yyyy-MM-dd'}}</div>
    <hr style="color: #9d4edd;margin-left: 10%;" />

    <table class="table table table-striped" style="margin-left: 10%;">
        <thead>
            <tr>
                <th>Numero</th>
                <th>Date</th>
                <th>Stock correspondant</th>
                <th>Client</th>
                <th>Description</th>
                <th>Produits </th>
                <th>Quantites</th>
                <th>Prix Unitaire</th>
                <th>Montant</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let sortieProduit of sorties, let i = index">
                <th scope="row">{{ sortieProduit.id}}</th>
                <td>{{ sortieProduit.date | date }}</td>
                <td>{{ sortieProduit.number_stock }}</td>
                <td>{{ sortieProduit.client }}</td>
                <td>{{ sortieProduit.description }}</td>
                <td>{{ sortieProduit.produit }}</td>
                <td>{{ sortieProduit.quantite }}</td>
                <td>{{ sortieProduit.prix_unitaire }}</td>
                <td>{{ sortieProduit.montant }}</td>
                <td>
                    <button class="btn" (click)="addmodel(sortieProduit)"><i data-bs-target="#exampleModal"
                            data-bs-toggle="modal" class="fas fa-edit"></i></button>
                    <button class="btn "><i data-bs-target="#exampleModal" data-bs-toggle="modal"
                            class="fas fa-trash" (click)="deleteSortie(i)"></i></button>
                    <!-- <button class="btn"><i class="fa-regular fa-eye"></i></button> -->
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div style="background-color: #f3f2f323; " class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div  class="modal-dialog">
        <div class="modal-content">
            <form style="width: min-content; background-color: #ffff; margin-right: 50%;border: #dadada 1px solid; border-radius: 5px;" [formGroup]="sortieProduit" (ngSubmit)="submit()">
                <div style="margin-bottom: 0px;" class="formulaireSortie">
                    <div class="modal-header">
                        <h2 class="modal-title " id="exampleModalLabel">Effectuer une sortie</h2>
                        <span data-bs-dismiss="modal" aria-label="class" class="close-btn1 p-2 ">X</span>
                    </div>
                    
                    <div style="margin: 20px;" class="block1">
                        <div>
                            <label for="name">Quantité</label><br>
                            <input class="form-control" [ngClass]="{'is-invalid': submitted && sortieProduit.controls['quantite'].errors}" id="name" type="number" name="quantite" formControlName="quantite"
                                placeholder="Quantite" required>
                                <div *ngIf="submitted && sortieProduit.get('quantite')!.errors" class="text-danger" >
                                    <p> Ce champs est obligatoire </p>
                                </div>

                        </div>
                        <div>
                            <label for="name">Prix Unitaire</label><br>
                            <input  class="form-control" [ngClass]="{'is-invalid': submitted && sortieProduit.controls['prix_unitaire'].errors}"id="name" type="number" name="prix_unitaire" formControlName="prix_unitaire"
                                placeholder="Prix unitaire" required>
                                <div *ngIf="submitted && sortieProduit.get('prix_unitaire')!.errors" class="text-danger" >
                                    <p> Ce champs est obligatoire </p>
                                </div>
                        </div>
                        <div style="display: none;">
                            <label for="name">Montant </label><br>
                            <input id="name" type="number" name="montant" formControlName="montant"
                                placeholder="Montant">
                        </div>

                        <div>
                            <label id="label" for="name">Produits</label><br>
                            <select class="form-control" [ngClass]="{'is-invalid':submitted && sortieProduit.get('produit')!.errors}" name="produit" tabindex="nom" id="produitId" formControlName="produit">
                                <option *ngFor="let produitTabe of produitTabe" [value]="produitTabe.nom">
                                    {{ produitTabe.nom }}</option>
                                    <div *ngIf="submitted && sortieProduit.get('produit')!.errors" class="text-danger" >
                                        <p> Ce champs est obligatoire </p>
                                    </div>
                            </select> 
                            <!-- <input class="form-control" [ngClass]="{'is-invalid': submitted && sortieProduit.controls['produit'].errors}" id="nameProduit" type="text" name="produit" formControlName="produit" placeholder="Produit"
                                required>
                                <div *ngIf="submitted && sortieProduit.get('produit')!.errors" class="text-danger" >
                                    <p> Ce champs est obligatoire </p>
                                </div> -->
                        </div>
                    </div>
                    <div style="margin: 20px;" class="block2">
                        <div style="display: none;">
                            <label for="name">Dates</label><br>
                            <input id="nameDate" type="date" name="date" formControlName="date"
                                placeholder="Saisissez la date du jour" required>
                        </div>

                        <div>
                            <label for="name">Client</label><br>
                            <input class="form-control" [ngClass]="{'is-invalid': submitted && sortieProduit.controls['client'].errors}" id="nameClient" type="text" name="client" formControlName="client" placeholder="Produit"
                                required>
                                <div *ngIf="submitted && sortieProduit.get('client')!.errors" class="text-danger" >
                                    <p> Ce champs est obligatoire </p>
                                </div>
                        </div>
                         <div>
                            <label id="label" for="name">Stocks correspondant</label><br>
                            <select class="form-control" [ngClass]="{'is-invalid':submitted && sortieProduit.get('number_stock')!.errors}" name="number_stock" tabindex="nom" id="produitId" formControlName="number_stock">
                                <option *ngFor="let stockTab of stockTab" [value]="stockTab.produit">
                                    {{ stockTab.produit }}</option>
                                    <div *ngIf="submitted && sortieProduit.get('number_stock')!.errors" class="text-danger" >
                                        <p> Ce champs est obligatoire </p>
                                    </div>
                            </select> 
                            <!-- <input class="form-control" [ngClass]="{'is-invalid': submitted && sortieProduit.controls['number_stock'].errors}" id="number_stock" type="number" name="number_stock" formControlName="number_stock" placeholder="Numero du stock correspondant "
                                required>
                                <div *ngIf="submitted && sortieProduit.get('number_stock')!.errors" class="text-danger" >
                                    <p> Ce champs est obligatoire </p>
                                </div> -->
                        </div> 
                    </div>
                    <div style="margin: 20px; align-items: center;" class="block3">
                        <div>
                            <label for="name">Description</label><br>
                            <textarea class="form-control" [ngClass]="{'is-invalid': submitted && sortieProduit.controls['description'].errors}"  id="descrInput" type="text" name="description"
                                formControlName="description" placeholder="Ajoutez une description" required></textarea>
                                <div *ngIf="submitted && sortieProduit.get('description')!.errors" class="text-danger" >
                                    <p> Ce champs est obligatoire </p>
                                </div>
                        </div>
                    
                        <button  id="bbutton" type="submit" sortieProduit.valid>Valider</button>
                        <div style="display: none;" *ngIf="submitted && sortieProduit.invalid">
                           
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- style="position: fixed; width: 100%; margin-top: 5%; margin-left: 7%;border: #9d4edd 1px solid; " -->
