<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium cumque 
    inventore, consectetur quos iste placeat vel optio odit. Unde ea sequi beatae rerum debitis 
    est exercitationem libero perferendis adipisci doloribus!</p>
    <!-- <app-popup style="display: none;" (formDataSubmitted)="handleFormData($event)"></app-popup> -->
<div class="consectetur">
    <div class="classButton">
    <button style=" margin-left: 80%; background-color: #9D4EDD;" (click)="openPopup()">Effectuer une Sortie</button>
    </div>


    <!-- tableau pour afficher les sortieProduit effectuer  -->
<div style="height: 900px;">
    <table>
        <tr>
            <!-- <span class="Entete"> -->
                <th>Dates</th>
                <th>Description</th>
                <th>Produits</th>
                <th>Quantites</th>
                <th>Prix Unitaire</th>
                <th>Montant</th>
            <!-- </span> -->
        </tr>
        <tr *ngFor="let sortieProduit of sortie">
            <td>{{ sortieProduit.date | date:'mediumDate' }}</td>
            <td>{{ sortieProduit.description }}</td>
            <td>{{ sortieProduit.produit }}</td>
            <td>{{ sortieProduit.quantite }}</td>
            <td>{{ sortieProduit.prix_unitaire }}</td>
            <td>{{ sortieProduit.montant }}</td>
            </tr>
      </table>
</div>
</div>