<div class="container">
    <div class="droite" *ngFor="let item of list">
        <img src="{{item.image}}" alt="image de connexion" >
    </div>
    <div class="gauche row mt-5">
        <div class="col"></div>
        <div class="col-4">
            <div class="card shadow">
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <div class="mb-3">
                                <h4 class="text-dark text-muted">Se connecter</h4>
                            </div>
                            <label for="">Email</label>
                            <input type="email" placeholder="Email de l'utilisateur" name="email" [(ngModel)]="email" class="form-control mt-3 mb-3">
                        </div>

                        <div class="form-group">
                            <label for="">Mot de passe</label>
                            <input type="password" placeholder="Mot de passe" name="password" [(ngModel)]="password" class="form-control mt-3 mb-3">
                        </div>
                        <button style="background-color: #9d4edd; color:white"  type="submit" class="btn" data-bs-demiss="modal" (onclick)="login()" >Se Connecter</button>
                        <div class="col-md-6">
                            <a href="" style="text-decoration: none;">Avez vous un compte ? <span class="text-danger">S'inscrire</span></a>
                        </div>
                        <div class="col-md-6">
                            <a href="" class="text-dark" style="text-decoration: none;">Mot de Passe Oublie?</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>