<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

<div class="bodyFormulaire" mat-dialog-content>
    <form [formGroup]="popupForm" (ngSubmit)="onSubmit()">
        <div class="formulaireSortie">
            <i class="fas fa-xmark fa-1.5x icone"></i>
            <!-- <img src="/src/assets/xmark-solid.svg" alt=""> -->
            <h2>Effectuer une Sorties de Produits</h2>
            <div class="block1">
                <div>
                    <label for="name">Quantité</label><br>
                        <input id="name" type="number" name="quantite" formControlName="quantite" placeholder="Quantite"required> 
                    
                </div>
                <div>
                    <label for="name">Prix Unitaire</label><br>
                        <input id="name" type="number" name="prix_unitaire" formControlName="prix_unitaire" placeholder="Prix unitaire" required>
                    </div>
                <div> 
                    <label for="name">Montant </label><br>
                        <input id="name" type="number" name="montant" formControlName="montant" placeholder="Montant" required> 
                </div>
            </div>
            <div class="block2">
                <div>
                <label for="name">Dates</label><br>
                     <input id="name" type="date" name="date" formControlName="date" placeholder="Saisissez la date du jour" required>
                </div>
 
                <div>
                 <label for="name">Produits</label><br>
                   <input id="name" type="text" name="produit" formControlName="produit" placeholder="Produit" required>
                </div>
             </div>
            <div class="block3">
                <div>
                <label for="name">Description</label><br>
                    <input id="name" id="descrInput" type="text" name="description" formControlName="description" placeholder="Ajoutez une description" required> 
                    </div>
                <button id="button" type="submit" [disabled]="!popupForm.valid">Valider</button>
            </div>
        </div>
    </form>
</div>

<div mat-dialog-actions>
    <button (click)="closePopup()" color="#9D4EDD">Fermer</button>
    <button color = "#9D4EDD" >Annuler</button>
</div>