<app-user></app-user>

<div class="container-fluid g-0">
  <!-- Utilise *ngIf pour afficher le header seulement lorsque showHeader est vrai -->
  <app-header
    *ngIf="showHeader"
    (sideNavToggleClicked)="handleSideNavToggle($event)"
  ></app-header>
  <main>
    <!-- Utilise *ngIf pour afficher la sidebar seulement lorsque sideBarStatus est vrai -->
    <app-sidebar
      *ngIf="sideBarStatus"
      [ngClass]="{'app-side-nav-open': sideBarStatus}"
    ></app-sidebar>
    <div class="display-area" [ngClass]="{'display-area-shrink': sideBarStatus}">
    </div>
  </main>
  <router-outlet></router-outlet>
</div>

