<div class="side-nav-content">
    <ul class="nav-list" [ngClass]="{'nav-list-open':sideBarStatus}">
        <li class="nav-list-item " *ngFor="let item of list">
            <i class="{{item.icon}}"></i>
            <span>
                <a [routerLink]="[item.path]">{{item.name}}</a>
            </span>
        </li>
     
    </ul>

    <hr>
    <ul class="nav-list">
<!-- Bouton "Compte" pour ouvrir le modal -->
<li class="nav-list-item" data-bs-toggle="modal" data-bs-target="#exampleModalUser">
  <i class="fa-solid fa-user"></i><span class="compte">Compte</span>
</li>

    </ul>
   

</div>





  

