
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="profile_conteiner">
          <div class="image_conteiner">
              <div class="image">
                  <img src=""/>
              </div>
          </div>
          <div class="text_conteiner">
              <div class="title">
                  <h3>{{ user.displayName }}</h3><br>
                  <h4>{{ user.email }}</h4><br>
            </div>
           <div> <i class="fa-brands fa-google"></i> Administrer votre compte</div>
      <hr>

            
              <button style="margin-left: 70px;" type="button" class="btn " data-bs-dismiss="modal">Close</button>
               
             
          </div>
      </div>
    </div>
</div>