<div class="container" style="position: relative; width: 100%; margin-top: 10%; margin-left: 10% 0 0 20%">
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <button
        class="btn text-light"
        style="background-color: #9d4edd;margin-right: 56%;" 
        type="button"
        (click)="printListeFournisseur()"
  
      >
      <i class="fa-solid fa-list"></i>Imprimer
      </button>
      
      <button
        class="btn text-light mx-4"
        style="background-color: #9d4edd"
        type="button"
      >
      <i class="fa-solid fa-filter"></i> Filter
      </button>
      
      <button
        class="btn me-md-2 text-light"
        type="button"
        style="background-color: #9d4edd"
        
        data-bs-target="#exampleModal" 
        data-bs-toggle="modal"
        (click)="addmodel()"
      >
      <i class="fa-solid fa-plus" ></i>Ajouter un fournisseur
      </button>
    </div>
    <hr style="color: #9d4edd" />
    <div class="text-center" style="font-size: 25px;">Date:{{currentDate | date:'yyyy-MM-dd'}}</div>
    <hr style="color: #9d4edd" />
  
    <table class="table table table-striped" style="width:100%" id="divPrint" >
      <thead>
        <tr>
          <th scope="col">N</th>
          <th scope="col">Nom</th>
          <th scope="col">Prenom</th>
          <th scope="col">Email</th>
          <th scope="col">Telephone</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
  
      <tbody>
        <tr *ngFor="let fournisseur of fournisseurs; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ fournisseur.nom }}</td>
            <td>{{ fournisseur.prenom }}</td>
            <td>{{ fournisseur.email }}</td>
            <td>{{ fournisseur.telephone }}</td>
          <td>
       
        <button class="btn" (click)="addmodel(fournisseur)"><i data-bs-target="#exampleModal" data-bs-toggle="modal" class="fas fa-edit" ></i></button>
        
        <button class="btn " (click)="deleteFournisseur(i)"><i data-bs-toggle="modal" class="fas fa-trash"></i></button>
            <button class="btn" data-bs-target="#detailsModal" data-bs-toggle="modal" (click)="viewDetails(fournisseur)"><i class="fa-regular fa-eye"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
  
  <!-- Modal form fournisseurs -->
  
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
     <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                <h2 class="modal-title " id="exampleModalLabel">Ajouter un fournisseur</h2>
                <span data-bs-dismiss="modal" aria-label="class" class="close-btn1 p-2 ">X</span>
              </div>

              <div class="modal-body">
                <div class="form-box">
                    <form [formGroup]="fournisseurForm" (ngSubmit)="submit();">
                        <div class="form-group">
                            <label for="">Nom</label>
                            <input type="text" placeholder="Nom du fournisseur" formControlName="nom" class="form-control mt-3 mb-3">
                        </div>

                        <div class="form-group">
                            <label for="">Prenom</label>
                            <input type="text" placeholder="Prenom du fournisseur" formControlName="prenom" class="form-control mt-3 mb-3">
                        </div>

                         <div class="form-group">
                            <label for="">Email</label>
                            <input type="text" placeholder="Email du fournisseur" formControlName="email" class="form-control mt-3 mb-3">
                        </div>
                        <div class="form-group">
                            <label for="">Telephone</label>
                            <input type="text" placeholder="Telephone du fournisseur" formControlName="telephone" class="form-control mt-3 mb-3">
                        </div>

                        <button style="background-color: #9d4edd; color:white"  type="submit" class="btn" data-bs-demiss="modal">Enregistrer</button>
                    </form>
                </div>
              </div>
          </div>
     </div>
  </div>





  <!-- Modal details-->

<div class="modal fade" id="detailsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" id="exampleModalLabel">Détails du fournisseur</h2>
          <span data-bs-dismiss="modal" aria-label="class" class="close-btn1 p-2 ">X</span>
        </div>
  
        <div class="modal-body">
          <div *ngIf="selectedFournisseurDetails">
            <p><strong>Nom:</strong> {{ selectedFournisseurDetails.nom }}</p>
            <p><strong>Prenom:</strong> {{ selectedFournisseurDetails.prenom }}</p>
            <p><strong>Email:</strong> {{ selectedFournisseurDetails.email }}</p>
            <p><strong>Téléphone:</strong> {{ selectedFournisseurDetails.telephone }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  

